.config/autostart/
.config/baloo*
.config/Bitwarden/
.config/bluedevil*
.config/breezerc
.config/dconf/
.config/discord/
.config/dolphinrc
.config/Electron*
.config/electron-flags.conf
.config/filetypesrc
.config/fontconfig/
.config/gh/
.config/htop/
.config/kactivity*
.config/kate*
.config/kcminputrc
.config/kconf_updaterc
.config/KDE/
.config/kde*
.config/kfontinstuirc
.config/kglobalshortcutsrc
.config/kiorc
.config/konsole*
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwin*
.config/libaccounts-glib/
.config/menus/
.config/mimeapps.list
.config/nwg-look/
.config/pacseek/
.config/plasma*
.config/powermanagementprofilesrc
.config/pulse/
.config/qalculate/
.config/QtProject.conf
.config/sddmthemeinstallerrc
.config/session/
.config/spectaclerc
.config/systemmonitorrc
.config/systemsettingsrc
.config/Trolltech.conf
.config/user-dirs*
.config/xsettingsd/
.config/nvim/
.thunderbird/
.rustup/
.pyenv/
Pictures/
Desktop/
Documents/
dev/
Downloads/
go/
Music/
adocred
Templates/
Videos/
.promptflow/
.nvm/
.terraform.d/
.vim/
.yarnrc
.zcompdump
.npm/
.nvidia-settings-rc
.mozilla*
.local/state/
.local/share/
.cargo/
.cache/
.azure/
.bash_history
.bash_logout
.dbclient/
.gnupg/
.gk/
.fonts.conf
.pki/
.python_history
.ssh/
.viminfo
.zcomp*
.zsh_history
.gitconfig
.oh-my-zsh
