.cache
.mozilla
.npm
.nvm
.cargo
.bun
.rustup
.ssh
Downloads
dev
go
.Xauthority
.bash_history
.bash_logout
.gitconfig
.nvidia-settings-rc
.profile
.python_history
.zcompdump*
.zsh_history
.zshenv
OneDrive
GoogleDrive
VirtualBox VMs
.oh-my-zsh
